<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is there Ants?</title>
</head>
<body>
    <div style="display: flex;justify-content:center;">
        <form method="post" style="display: flex;flex-direction: column;width: 300px;height: 600px;">
            {{form.hidden_tag()}}
            <div style="text-align: center;">
                {{form.url.label}}
            </div>
            {{form.url()}}
            <div style="height: 50px;"></div>
            {{form.submit()}}
        </form>
    </div>
</body>
</html>

